.task-form {
    background: radial-gradient(ellipse at bottom left, #0f172a, #1e1a78, #0f172a);
    padding: 20px;
    width: 400px;
    height: auto;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

.task-form label {
    color: white;
    font-size: 15px;
    margin-right: 10px;
}

.task-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.task-input input, .task-input textarea {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    box-sizing: border-box;
}
.task-input textarea{
    height: 100px;
}

.status-task {
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.create-task {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: conic-gradient(at bottom left, #dc2626, #f87171, #fecaca);
    margin: 0 auto;
    display: block;
}

.create-task:hover {
    background: conic-gradient(at bottom left, #f87171, #fecaca, #dc2626);
}